<div class="ingredients-main-features ingredients-main-features--vegan">
  {% render "picture",
    class: "ingredients-main-features__image",
    image: settings.ingredients_main_features_vegan_img,
    aspect_ratio: 1,
    available_sizes: "800, 1600"
    display_sizes: "41.65vw"
  %}
</div>