<ul class="product-feature-list">
  <li class="product-feature-list__item">
    {% render "picture", 
      class: "product-feature-list__item-icon",
      image: section.settings.pflv_image_1,
      available_sizes: "61, 122",
      display_sizes: "100vw",
      fit: "cover"
    %}
    {% render "picture", 
      class: "product-feature-list__item-text",
      image: section.settings.pflv_text_1,
      available_sizes: "61, 122",
      display_sizes: "100vw",
      fit: "cover"
    %}
  </li>
  <li class="product-feature-list__item">
    {% render "picture", 
      class: "product-feature-list__item-icon",
      image: section.settings.pflv_image_2,
      available_sizes: "61, 122",
      display_sizes: "100vw",
      fit: "cover"
    %}
    {% render "picture", 
      class: "product-feature-list__item-text",
      image: section.settings.pflv_text_2,
      available_sizes: "61, 122",
      display_sizes: "100vw",
      fit: "cover"
    %}
  </li>
  <li class="product-feature-list__item">
    {% render "picture", 
      class: "product-feature-list__item-icon",
      image: section.settings.pflv_image_3,
      available_sizes: "61, 122",
      display_sizes: "100vw",
      fit: "cover"
    %}
    {% render "picture", 
      class: "product-feature-list__item-text",
      image: section.settings.pflv_text_3,
      available_sizes: "61, 122",
      display_sizes: "100vw",
      fit: "cover"
    %}
  </li>
  <li class="product-feature-list__item">
    {% render "picture", 
      class: "product-feature-list__item-icon",
      image: section.settings.pflv_image_4,
      available_sizes: "61, 122",
      display_sizes: "100vw",
      fit: "cover"
    %}
    {% render "picture", 
      class: "product-feature-list__item-text",
      image: section.settings.pflv_text_4,
      available_sizes: "61, 122",
      display_sizes: "100vw",
      fit: "cover"
    %}
  </li>
  <li class="product-feature-list__item">
    {% render "picture", 
      class: "product-feature-list__item-icon",
      image: section.settings.pflv_image_5,
      available_sizes: "61, 122",
      display_sizes: "100vw",
      fit: "cover"
    %}
    {% render "picture", 
      class: "product-feature-list__item-text",
      image: section.settings.pflv_text_5,
      available_sizes: "61, 122",
      display_sizes: "100vw",
      fit: "cover"
    %}
  </li>
</ul>