<h2 class="s-recently-view-products__title">Recently View Products</h2>
<ul class="s-recently-view-products__list"></ul>
{% schema %}
{
  "name": "Recently View Products",
  "limit": 1,
  "tag": "section",
  "class": "s-recently-view-products",
  "templates": [
    "collection"
  ]
}
{% endschema %}