:root {
  // Colors
  --pj-orange-100: #fff5e9;
  --pj-orange-200: #ffecd8;
  --pj-orange-300: #f9c74f;
  --pj-orange-400: #ff9400;
  --pj-orange-400-2: #faa340;
  --pj-orange-500: #e78f34;
  --pj-orange-600: #ff8905;
  --pj-orange: var(--pj-orange-400);

  --pj-gray-100: #f2f2f2;
  --pj-gray-100-2: #e4e3e3;
  --pj-gray-200: #c1c1c1;
  --pj-gray-300: #7b7b7b;
  --pj-gray-500: #424242;
  --pj-gray-900: #151515;

  --pj-green-500: #60843a;

  --pj-black: #000;
  --pj-white: #fff;
}
